.music-tabs {
  position: fixed;
  top: 57px !important;
  height: 48px;
  z-index: 1000;
}

.music-tab {
  color: #333 !important;
  font-size: 15px !important;
}

.MuiTypography-root-39 {
  padding: 0 !important;
}

.music-tab-view-container {
  background: red;
}

/* .swipeable-views {
  width: 375px;
  overflow-x: hidden!important;
}
.swipeable-views>div>div {
  overflow-x: hidden !important;
} */
