@import "variable.styl"

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-check
  color $color-theme
  font-size $font-lg !important
  display inline-block
  transform translateY(2px)

.icon-icon-test
  color $color-border
  font-size $font-lg !important
  display inline-block
  transform translateY(2px)

.icon-dianhua1
  color $color-icon




