// 定义变量

// 定义颜色
$color-theme = #d43c33
$color-background = #f0f0f0
// test
// $color-background = red
$color-text = #333
$color-cancel = #666
$color-border = #999
$color-icon = #3998E9
$color-tip = #DB343A
$color-confirm = #E6E6E6
$color-active =  #FF5722
$color-tap = #FE8337
$color-corner = #E06309
// 定义字体大小
$font-size-price = 18px
$font-sm-s = 9px
$font-sm = 10px
$font-sm-md = 11px
$font-sm-l = 12px
$font-nm-s = 13px
$font-nm = 14px
$font-md-s = 15px
$font-md = 16px
$font-md-md = 17px
$font-md-l = 18px
$font-lg = 22px
$font-size-rmb = 16px

// 定义图片大小
$img-sm-w = 84px
$img-sm-h = 63px
$img-md-w = 159.2px
$img-md-h = 118.4px

// 定义字体加粗
$font-bold = 600


